<h1>you fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "rusty") {  %>
    <p> GOOD CHOICE! RUSTY IS THE BEST! </p>
<% } else { %>
    <p>wrong answer</p>
<% }  %>